.testimonial-container {
    text-align: center;
    padding: 50px 0;
}

.testimonial-section {
    padding: 50px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}


.quote {
    font-size: 1.5rem;
    font-style: italic;
    margin: 20px 0;
}

.portfolio {
    background-color: aqua;
}

.testimonial-img {
    width: 150px;
    /* adjust image size as needed */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.reviewer {
    font-weight: bold;
}